cad-files/**
pcb-design/**
pinout-test-cubemx/**
motor-ident/**
software-test/**
github_token.txt
micromouse-software/DebugConfig/**
micromouse-software/Listings/**
micromouse-software/Objects/**
micromouse-software/RTE/**
micromouse-software/EventRecorderStub.scvd
micromouse-software/micromouse.uvguix.Emil
micromouse-software/micromouse.uvoptx
micromouse-software/micromouse.uvprojx
.gitattributes
micromouse-other/encoder-magnet-disc-3d/console.log
build-micromouse-maze-simulator-Desktop_Qt_6_3_0_MinGW_64_bit-Debug/**
build-micromouse-maze-simulator-Desktop_Qt_6_3_0_MinGW_64_bit-Release/**
micromouse-maze-simulator/mainwindow.ui.autosave
micromouse-maze-simulator/micromouse-maze-simulator.pro.user
*.user
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
