cad-files/**
pcb-design/**
pinout-test-cubemx/**
motor-ident/**
software-test/**
github_token.txt
micromouse-software/DebugConfig/**
micromouse-software/Listings/**
micromouse-software/Objects/**
micromouse-software/RTE/**
micromouse-software/EventRecorderStub.scvd
micromouse-software/micromouse.uvguix.Emil
micromouse-software/micromouse.uvoptx
micromouse-software/micromouse.uvprojx
.gitattributes
